<h1><%= @nation.gsub('+', " ").titleize %></h1>
<h2> Total Members: <%= @members.count %></h2>
<% @members.first(25).each do |member| %>
    <ul class="member">
  <p class="photo"> <img src= <%= member.photo %>></p>
  <p class="name"> Name: <%= member.name %></p>
  <p class="allies"> Allies: <%= member.allies %></p>
  <p class="enemies"> Enemies: <%= member.enemies %></p>
  <p class="affiliation"> Affiliation: <%= member.affiliation %></p>
</ul>
<% end %>